<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Pictionnary - Inscription</title>
    <link rel="stylesheet" media="screen" href="/css/styles.css" >
    <link rel="stylesheet" media="screen" href="/css/bootstrap.css" >

</head>
    <% include header %>
<section class="container">

    <h3>Votre profil</h3>
    <ul>
        <li>Email: <%= email %></li>
        <li>Nom: <%= nom %></li>
        <li>Prenom: <%= prenom %></li>
        <li>Téléphone: <%= tel %></li>
        <li>Ville: <%= ville %></li>
        <li>Taille: <%= taille %></li>
        <li>Couleur: <%= couleur %></li>

        <li>Date de naissance: <%= birthdate.slice(0,10) %></li>
        <li>Votre image: <img src="<%= profilepic %>"/></li>
    </ul>

    <a id="modification" href="/modification">Modification</a>
    <form action="/supression" method="get" style="display: inline;">
        <input type="submit" onclick="return confirmDelete()" id="supression" value="Supression">
    </form>

</section>

<script>
    function confirmDelete(){
        var agree = confirm("Êtes vous sur de vouloir supprimer le profil?");
        if(agree == true){
           return true;
        }
        else{
            return false;
        }
    }
</script>
</body>
</html>
